@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

body{
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Shared Styles */
button{
  cursor: pointer;
}
.display-flex{
  display: flex;
}
.btn-primary{
  background: #FEA301;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 10px 60px;
}
.dark-3{
  color:rgba(128, 128, 128, 1);
}

/* Header Section Styles */
 header{
  padding-left: 140px;
  padding-right: 140px;
 }

/* Navbar Section Styles */
.navbar{
  margin: 20px auto;
  max-height: 62px;
  justify-content: space-between;
  gap: 20px;
}
.nav-logo{
  align-items: center;
  gap: 11px;
}
.nav-title{
  font-size: 32px;
  font-weight: bold;
}
.navbar img{
  width: 62px;
  height: 62px;
}
.navbar>ul{
  gap: 32px;
  align-items: center;
}
.navbar>ul>li{
list-style: none;
}
.navbar>ul>li>a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500px;
}
ul li:nth-child(1) a{
  color: #FEA301;
}
ul li:nth-child(2) a{
  color: #01ACFD;
}
ul li:nth-child(3) a{
  color: #05D4DF;
}
ul li:nth-child(4) a{
  color: #5D58EF;
}
.nav-btn{
  font-size: 20px;
  font-weight: 600px;
}
.nav-btn:hover{
  background:#fea1016c;
  color: #000;
  border: none;
}
.bar-icon{
  display: none;
}

/* Banner Section Styles */
.banner{
  gap: 50px;
  justify-content: space-between;
}
.banner-content{
margin-top: 122px;
}
.banner-title{
font-size: 56px;
font-weight: bold;
}
.banner-description{
font-size: 20px;
font-weight: 400px;
}
.banner-btn{
background: black;
color: white;
}
.banner-btn:hover{
background: rgba(0, 0, 0, 0.158);
color: black;
border: 1px solid black;
}

/* Main Section Styles */


/* Curriculum Section Styles */
.curriculum{
  background-image: url(assets/bg.png);
  padding: 0 129.5px;
}
.curriculum-title{
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}
.cards-container{
  gap: 28.29px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.card{
  text-align: center;
  box-shadow: 0 0 28.3px  rgba(0, 0, 0, 0.05);
  width: 367.8px;
  max-height: 481.5px;
  padding: 52px 40px 54px 40px;
  border-radius: 18.86px;
}
.card> img{
  min-width: 137px;
  height: 137px;
}
.card-title{
  font-size: 25px;
  font-weight: bold;
}
.card-description{
  font-size: 15px;
  font-weight: 500px;
  color:rgba(128, 128, 128, 1);
}
.card1{
  background: linear-gradient(to bottom, #DEF5FF, #FFFFFF);
}
.card2{
  background: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
}
.card3{
  background: linear-gradient(to bottom, #EEE1FF, #FFFFFF);
}
.curriculum-abbre{
font-size: 15.09px;
font-weight: bold;
}
.card1> .curriculum-abbre{
  color: rgb(10, 134, 201);
}
.card2> .curriculum-abbre{
  color: rgb(224, 158, 4);
}
.card3> .curriculum-abbre{
  color: rgba(135, 0, 255, 1);
}
.arrow-container{
  justify-content: center;
  gap: 10px;
}
.arrow-container> .curriculum-arrow{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FEA301;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  margin-bottom: 60px;
  cursor: pointer;
}

/* Stories Section Styles */
.stories{
  background-image: url(assets/bg.png), linear-gradient(to top, #fea1014d, #FFFFFF);
  margin-top: 60px;
  padding: 0 129.5px;
}
.stories-title{
  text-align: center;
  font-size: 46px;
  font-weight: bold;
}
.stories-card-container{
  display: grid;
  gap: 19.17px;
  grid-template-areas: 
  "stories-card1 stories-card2 stories-card3"
  "stories-card1 stories-card4 stories-card5"
  ;
  }
.stories-card{
  border-radius: 16px;
  position: relative;
  background-color: white;
}

.stories-card1{
grid-area: stories-card1;
width:540.27px;
position: relative;
}
.stories-card2{
  grid-area: stories-card2;
  width: 290.69px;
  position: relative;
}
.stories-card3{
  grid-area: stories-card3;
  width: 290.69px;
  position: relative;
}
.stories-card4{
  grid-area: stories-card4;
  width: 290.69px;
  position: relative;
}
.stories-card5{
  grid-area: stories-card5;
  width: 290.69px;
  position: relative;
}
.stories-card6{
  grid-area: stories-card6;
  width: 290.69px;
  display: none;
  position: relative;
}
.stories-card7{
  grid-area: stories-card7;
  width: 290.69px;
  display: none;
  position: relative;
}


.stories-image{
width: 100%;
border-radius: 16px 16px 0 0; 
height: 60%;
}
.stories-btn{
border-radius: 47.93px;
padding: 16px 20px;
border: none;
width: 175px;
position: absolute;
top: 52.5%;
left: 35px;
z-index: 1;
}
.stories-btn1{
  background: #3CD8E8;
color: rgb(0, 0, 0);
top: 56%;
}
.stories-btn1:hover{
  background: #105157;
color: rgb(255, 255, 255);
}
.stories-btn2{
  background: #034050;
  color: white;
}
.stories-btn2:hover{
  background: #68b0c2;
  color: rgb(0, 0, 0);
}
.stories-btn3{
  background: #66686b;
  color: white;
}
.stories-btn3:hover{
  background: #b9b0b0;
  color: rgb(0, 0, 0);
}
.stories-btn4{
  background: #4e0480;
  color: white;
}
.stories-btn4:hover{
  background: #d1a6ee;
  color: rgb(0, 0, 0);
}
.stories-btn5{
  background: #a5700c;
  color: white;
}
.stories-btn5:hover{
  background: #dac8a8;
  color: rgb(0, 0, 0);
}
/*  */
.stories-card-description{
font-size: 16px;
font-weight: bold;
margin: 40px;
}
.stories-card-description-1{
  font-size: 16px;
  font-weight: 500px;
  margin: 40px;
}
.stories-card-title{
  font-size: 24px;
  font-weight: bold;
  margin: 40px;
}
.stories-view-btn{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.stories-view-btn> button{
  padding: 10px 61px;
  background: black;
  color: white;
  border-radius: 12px;
  margin-bottom: 60px;
}
.stories-view-btn> button:hover{
  background: #FEA301;
  color: rgb(0, 0, 0);
  border: none;
}


/* Footer Section Styles */
#marquee{
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px;
  font-size: 30px;
}
.footer{
  background-color: #024564b4; 
  color: white;
  padding: 123px 129.5px 174px 129.5px;
  gap: 100px;
  align-items: start;
}
.footer-content{

}
.footer-logo-title{
align-items: center;
}
.footer-logo-title img{
  width: 100px;
  height: 100px;
}
.footer-title{
font-size: 42.14px;
font-weight: bold;
}
.footer-description{
  font-size: 20px;
  font-weight: 400px;
}
.footer-navbar>ul{
display: flex;
flex-direction: column;
gap: 35px;
width: 167px;
margin-top: 35px;
}
.footer-navbar ul li{
  list-style: none;

}
.footer-navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500px;
}
.footer-navbar>ul li:nth-child(1) a{
  font-size: 26px;
  font-weight: bold;
}
.ellipses{
  width: 399px;
}
.social{
  min-width: 190px;
}
.social>h4{
  font-size: 26px;
  font-weight: bold;
}

/* Responsive for Mobile Phone */

/* Navbar Section Responsive */
@media screen and (max-width: 576px){
  body{
    margin: 0 auto;
    padding: 0;
  }
  header{
    padding: 0;
  }
  .navbar{
    padding: 10px;
  }
  .navbar .nav-title, 
  .navbar> button, 
  .navbar>ul {
  display: none;
  }
  .nav-container{
  border-bottom: 1px solid #FEA301; 
  } 
  .navbar{
    padding: 10px 20px ;
    margin: 0;
  }
  .navbar img{
    width: 60px;
    height: 60px;
  }
  .bar-icon{
    display: block;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .bar-icon> i{
    font-size: 30px;
  }


  /* Banner Section Responsive */
  .banner{
    flex-direction: column-reverse;
    padding: 20px;
    gap: 10px;
  }
  .banner-title{
    font-size: 32px;
  }
  .banner-description{
    font-size: 14px;
  }
  .banner-content{
    text-align: center;
    margin: 0;
  }
  .banner-image> img{
    width: 100%;
    margin: 0 auto;
  }

  /* Curriculum Section Responsive */
  .curriculum{
    padding: 20px;
  }
  .curriculum> .display-flex{
    flex-direction: column;
  }
  .card{
    width: 100%;
    max-height: 481.5px;
    padding: 54px 0;
  }
  .card-title{
    font-size: 16.6px;
    font-weight: bold;
  }
  .card-description{
    font-size: 13px;
    font-weight: 500px;
  }
  .curriculum-abbre{
    font-size: 17px;
    font-weight: bold;
    }
    .arrow-container{
      display: none;
    }

    /* Stories Section Responsive */
    .stories{
      padding: 20px;
    }
    .stories-card-container{
        display: grid;
        gap: 10px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .stories-card{
      width: 100%;
      height: 240px;
      border-radius: 10px;
    }
    .stories-card1{
    display: none;
    }
    .stories-image{
      border-radius: 10px 10px 0 0;
    }
    .stories-btn{
     width: 130px;
     font-size: 12px;
     padding: 10px;
     left: 15px;
    }
    .stories-card-title{
    
    }
    .stories-card-description{
    font-size: 12px;
    margin: 23px;
    }

    /* Footer Section */
    .footer{
      flex-direction: column;
      padding: 60px 20px;
      gap:0px;
    }
    .footer-navbar>ul{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 167px;
    margin-top: 35px;
    padding-left: 0;
    }
    .footer-navbar ul li a{
      text-decoration: none;
      color: white;
      font-size: 20px;
      font-weight: 500px;
    }
}

/* Responsive for Medium Device */
@media screen and (min-width: 576px) and (max-width: 1500px) {
  .stories-card2,
  .stories-card3,
  .stories-card4,
  .stories-card5 {
    width: 300px;
    min-height: 240px;
    border-radius: 10px;
  }
  .stories-card1{
    grid-area: stories-card1;
    width:500px;
    }
}
@media screen and (min-width: 576px) and (max-width: 1000px) {
  .stories-card1{
    grid-area: stories-card1;
    width:400px;
    }
    .stories-card2,
  .stories-card3,
  .stories-card4,
  .stories-card5 {
    width: 200px;
    min-height: 240px;
  }
  .stories-card-description-1{
    font-size: 10px;
    font-weight: bold;
  }
  .stories-card-description {
   font-size: 10px;
  }
}