@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

body{
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Shared Styles */
.display-flex{
  display: flex;
  justify-content: space-between;
}
.btn-primary{
  background: #FEA301;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 10px 60px;
}
.dark-3{
  color:rgba(128, 128, 128, 1);
}

/* Header Section Styles */


/* Navbar Section Styles */
.navbar{
  margin: 20px auto;
  max-height: 62px;
}
.nav-logo{
  align-items: center;
  gap: 11px;
}
.nav-title{
  font-size: 32px;
  font-weight: bold;
}
.navbar img{
  width: 62px;
  height: 62px;
}
.navbar>ul{
  gap: 32px;
  align-items: center;
}
.navbar>ul>li{
list-style: none;
}
.navbar>ul>li>a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500px;
}
ul li:nth-child(1) a{
  color: #FEA301;
}
ul li:nth-child(2) a{
  color: #01ACFD;
}
ul li:nth-child(3) a{
  color: #05D4DF;
}
ul li:nth-child(4) a{
  color: #5D58EF;
}
.nav-btn{
  font-size: 20px;
  font-weight: 600px;
}
.nav-btn:hover{
  background:#fea1013b;
  color: #000;
  border: 1px solid #FEA301;
}
/* Banner Section Styles */
.banner{
  gap: 50px;
}
.banner-content{
margin-top: 122px;
}
.banner-title{
font-size: 56px;
font-weight: bold;
}
.banner-description{
font-size: 20px;
font-weight: 400px;
}
.banner-btn{
background: black;
color: white;
}
.banner-btn:hover{
background: rgba(0, 0, 0, 0.158);
color: black;
border: 1px solid black;
}

/* Main Section Styles */


/* Curriculum Section Styles */
.curriculum{
  
}
.curriculum-title{
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}
.cards-container{
  gap: 28.29px;
  margin: 80px 140px;

}
.card{
  text-align: center;
  box-shadow: 0 0 28.3px  rgba(0, 0, 0, 0.05);
  width: 367.8px;
  max-height: 481.5px;
  padding: 52px 40px 54px 40px;
}
.card> img{
  width: 137px;
  height: 137px;
}
.card-title{
  font-size: 25px;
  font-weight: bold;
}
.card-description{
  font-size: 15px;
  font-weight: 500px;
  color:rgba(128, 128, 128, 1);
}
.curriculum-abbre{
font-size: 15.09px;
font-weight: bold;
}
.card1> .curriculum-abbre{
  color: rgba(100, 200, 255, 1);
}
.card2> .curriculum-abbre{
  color: rgba(240, 170, 0, 1);
}
.card3> .curriculum-abbre{
  color: rgba(135, 0, 255, 1);
}

/* Stories Section Styles */


/* Footer Section Styles */


/* Responsive for Mobile Phone */
@media screen and (max-width: 576px){
.navbar .nav-title, ul>li, button {
  display: none;
}
.nav-container{
  border-bottom: 2px solid #FEA301; 
} 
.navbar{
    padding: 20px;
    margin: 0;
  }
  .navbar img{
    width: 60px;
    height: 60px;
  }

  /* Banner Section Responsive */
  .banner{
    flex-direction: column-reverse;
    margin: 16px;
    gap: 20px;
  }
  .banner-content{
    text-align: center;
  }
  .banner-image{
    margin: 0 auto;
  }
}